doctype html
html
head
        title Dashboard
        link(rel="stylesheet", href="/css/style.css")  
body
    include header.pug
    div.content
        p#welcome='Welcome, ' + name
        p#username='( ' + username +')'
        p#email='Your mail: '+ email 
        button#changePass Change Password